.scatterplotfilter {
  /* border: solid black 1px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.scatterplotfiltername {
  /* border: solid black 1px; */
  margin: 5px 5px 5px 5px;
}

.scatterplotfilterselect {
  /* border: solid black 1px; */
  width: 80%;
  margin: 5px 5px 5px 5px;
}