.videocontainer {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #7395AE;
}

.mainTitle {
  
  margin-right: 1em;
  font-family: 'Roboto', sans-serif;
}

.videoPlayer {
  padding-bottom: 1em;
}

.itemContainer {
  padding-top:1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}