.svgContainer{
  width:100%;
  height: 100%;
}
.chartContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chartTopContainer{
  flex: 1;
  display: flex;
}
.chartBottomContainer{
  flex: 4;
}
.inputContainer{
  flex: 1;
}
.arcOneContainer{
  flex: 2;
}
.arcTwoContainer{
  flex: 2;
}


/* 
.chart {
  background-color: #F5F2EB;
  border: 1px solid #CCC;
  width: 100%;
  height: 100%;
} */
